{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
<div class="row">
  <div class="container">
  <div class="col-sm-2">
    <div class="category-list">
      <h3>Categories</h3>
        {% for category in all_categories %}
          <p><a href="{{url_for('showCategoryDetails', category_id = category.id)}}">{{category.name}}</a></p>
        {% endfor %}
      </ul>
    </div>
    <br />
    <div class="addcategory"><a class="btn btn-primary" href="{{url_for('addNewCategory')}}">Add New Category</a></div>
  </div>
  <div class="col-sm-10">
    <div class="recent_hotels">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="alert-success">
            {% for message in messages %}
              <p>{{message}}</p>
            {% endfor %}
          </div>
          {% endif %}
        {% endwith %}



      <h3 class="center-text">Recently Added Hotels</h3>
      <br />
      <div class="hotel-list">
        {% for hotel in recent_hotels %}
        <div class="hotel-card">
          <img src="{{hotel.image}}" style="width:270px; height:200px" />
          <br />
          <h4><a href="{{url_for('showHotelDetails', category_id = hotel.category.id, hotel_id = hotel.id)}}">{{hotel.name}}</a></h4>
          <p>{{hotel.location}}</p>
          <p><a href="{{url_for('showCategoryDetails', category_id = hotel.category.id)}}" class="">{{hotel.category.name}}</a></p>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
</div>
</div>
{% endblock %}
