{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
  <div>
    <h3>{{hotel.name}}</h3>
    <p>{{hotel.location}}</p>
    <img src="{{hotel.image}}" style="width:80%"/>
    <p>{{hotel.description}}</p>
    <a href="{{url_for('showCategoryDetails', category_id = category.id)}}">{{hotel.category.name}}</a>
    <a href="{{url_for('editHotel', hotel_id = hotel.id)}}" class="btn btn-warning">Edit Hotel</a>
    <a href="{{url_for('deleteHotel', category_id = category.id, hotel_id = hotel.id)}}" class="btn btn-danger">Delete Hotel</a>
  </div>
{% endblock %}
