{% extends "main.html" %}
{% block content %}
<div class="loginpage">
  <div class="login-section">
    <div class="login-block">
    <h1 class="center-text"><a href="{{url_for('showAllCategories')}}">Category Hotels</a></h1>
    <!-- GOOGLE SIGN IN -->
    <div id="loginButton">
      <span class="g-signin"
            data-scope="openid email"
            data-clientid="123132723107-npi3io65hkk5ih4ehqv2jgmda8717tuc.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
      </span>
    </div>
    <div id="result"></div>
  </div>
  </div>

</div>
<script>
  function signInCallback(authResult){
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorised
      $('#loginButton').attr('style', 'display:none');
      // Send the one-time-use code to the server, if the server responds,
      // write a 'login successful' message to the web page and then
      //redirect back to the main categories page.
      $.ajax({
        type: 'POST',
        url: '/glogin?state={{STATE}}',
        processData: false,
        contentType: 'application/octet-stream; charset=utf-8',
        data: authResult['code'],
        success: function(result) {
          if (result) {
            $('#result').html('Login Successful!</br> redirecting...')
            setTimeout(function() {
              window.location.href="/categories";
            }, 4000);
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
                  $('result').html('Failed to make a server-side call. Check your configuration and console.')
                }
              }
      });
    }
  }
</script>
{% endblock %}
