<!DOCTYPE html>
<html>
  <head>
    <title>Category Hotels</title>
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Montserrat|Raleway"/>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type='text/css'>
    <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}" type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-xGJj9I-WFUH9Z5VxaJ78WZE308bN1us&libraries=places"></script>
  </head>
  <body>
    <div class="">
      {% block content %}
      {% endblock %}
  </div>
  </body>
</html>
