{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
  <div>
    <h3>Add A New Hotel</h3>
    <br/>
    <div id="NewHotelForm">
      <form action="#" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" maxlength="80" name="name" class="form-control" required/>
          <label for="location">Location</label>
          <input id="searchTextField" type="text" maxlength="80" name="location" class="form-control" placeholder="E.g, Miami, Florida" required />
          <label for="image">Image URL</label>
          <input type="text" name="image_url" class="form-control" required/>
          <label for="description">Description</label>
          <textarea rows="3" cols="100" class="form-control" name="description" required></textarea>
          <button class="btn btn-primary" type="submit" id="submit">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    function initialize() {
      var input = document.getElementById('searchTextField');
      var autocomplete = new google.maps.places.Autocomplete(input);
    }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
{% endblock %}
